@import '../breakpoints/breakpoint';

.hero-grid2-text2-button {
    @include flex;
    gap: 30px;

    @include breakpoint("sm-max") {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    button {
        min-width: 198px;
        padding: 7px 7px 7px 20px;
        border: 1px solid transparent;
        border-radius: 28px;
        @include flex-between;
        @include fontJetzt2;
        font-weight: 300;
        font-family: var(--font-family-vietnam);
        cursor: pointer;

        .button-image {
            width: 24px;
            @include flex-center;
            padding: 7px;
            background-color: var(--color-black);
            border-radius: 50%;

            img {
                width: 100%;
            }
        }

        &:nth-child(2) {
            background-color: transparent;
            border: 1px solid var(--font-color2);
            color: var(--font-color2);

            .button-image {
                padding: 6px 5px;
                background-color: var(--font-color2);
            }
        }
    }
}

.team-div-button {
    @include flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;

    button {
        padding: 11px 25px;
        border: 1px solid var(--color-black);
        border-radius: 44px;
        @include font28;
        font-weight: 700;
        font-family: var(--font-family-space);
        cursor: pointer;
        background-color: transparent;
        transition: .3s ease-in-out;

        @include breakpoint("lg-max") {
          @include font24;
          font-weight: 700;
        }

        @include breakpoint("sm-max") {
          @include font16;
          font-weight: 600;
        }

        &:hover {
            transition: .3s ease-in-out;
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}

.footer-div2-button {
    button {
        min-width: 206px;
        padding: 5px 5px 5px 20px;
        border: 1px solid var(--border-color2);
        background-color: transparent;
        border-radius: 52px;
        color: var(--font-color3);
        @include flex-between;
        @include font18;
        font-weight: 400;
        font-family: var(--font-family-space);
        cursor: pointer;

        .button-image {
            padding: 21px;
            @include flex-center;
            background-color: var(--color-white);
            border-radius: 50%;
            position: relative;

            img {
                position: absolute;
            }
        }
    }
}
