@import "../../styles/index.scss";

footer {
    padding: 63px 20px 36px 20px;
    background-color: var(--bgcolor-footer);
    color: var(--color-white);
    font-family: var(--font-family-space);

    .footer-div {
        display: grid;
        grid-template-columns: 330px 1fr;
        justify-content: space-between;
        gap: 160px;

        @include breakpoint("lg-max") {
            grid-template-columns: 235px 1fr;
            gap: 50px;
        }

        @include breakpoint("sm-max") {
            grid-template-columns: 1fr;
        }

        .footer-div1 {
            @include breakpoint("sm-max") {
                text-align: center;

                img {
                    margin: 0 auto;
                }
            }

            h2 {
                @include font60;
                line-height: 57px;
            }

            p {
                margin: 28px 0;
                @include font18;
                font-weight: 700;
            }
        }

        .footer-div2-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;

            @include breakpoint("sm-max") {
                justify-content: center;
                text-align: center;
            }

            h3 {
                @include font18;
                font-weight: 700;
                margin-bottom: 26px;
            }

            span {
                opacity: 60%;
                display: block;
                @include font18;
                font-weight: 300;

                &:first-child {
                    margin-bottom: 20px;
                }
            }

            .footer-div2-span {
                span {
                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }

            .footer-div2-icon {
                @include flex;
                gap: 30px;
                margin-bottom: 20px;

                @include breakpoint("sm-max") {
                    justify-content: center;
                }
            }
        }
    }
}
