.containerH {
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.container {
    max-width: 1396px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.container2 {
    max-width: 1378px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.container3 {
    max-width: 1247px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.containerF {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}
