:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #000;
    --font-color2: #ff8000;
    --font-color3: #ffffff80;
    --font-color-error: #ffeb3b;

    --bgcolor: #353535;
    --bgcolor2: #dbdad8;
    --bgcolor-layer: #000000b2;
    --bgcolor-layer2: #ffffff66;
    --bgcolor-footer: #0c0612;

    --border-color: #c0bbb5;
    --border-color2: #3d3d40;

    --error-accent-color: #ff6f61;

    --font-family-open: "Open Sans", sans-serif;
    --font-family-space: "Space Grotesk", sans-serif;
    --font-family-vietnam: "Be Vietnam Pro", sans-serif;
    --font-family-inter: "Inter", sans-serif;
}
